@import "../../../css/main.less";
@color2: black;
@colorarch: #f665cc;
@color1 :black;
@line:35pt;
//@color2 :#f863c9;

.font1(@style){
    font-family:'Ume-condensed';
    font-style:@style;
}
em{
    .font1(italic);
}
#flow-main h1 {
    -webkit-flow-into: flow-titre;
        flow-into: flow-titre;
}
.flow-titre {
    -webkit-flow-from: flow-titre;
        flow-from: flow-titre;
}
#flow-main h2 {
    -webkit-flow-into: flow-balsa;
        flow-into: flow-balsa;
}
.flow-balsa{
    -webkit-flow-from: flow-balsa;
        flow-from: flow-balsa;
}
#flow-main h3 {
    -webkit-flow-into: flow-date;
        flow-into: flow-date;
}
.flow-date{
    -webkit-flow-from: flow-date;
        flow-from: flow-date;
}
#flow-main h4 {
    -webkit-flow-into: flow-pratique;
        flow-into: flow-pratique;
}
.flow-pratique{
    -webkit-flow-from: flow-pratique;
        flow-from: flow-pratique;
}

@text-color: black;

h1, h2, h3, h4{
  color: @text-color;
}
h1 {
  font-weight: normal;
  // text-align: center;
  margin: 0;
  font-family: 'Ume-saison';
  line-height: 240pt;
  letter-spacing: 0pt;
  font-size: 300pt;
  // text-transform: uppercase;
}

h1:nth-of-type(1){

  span{
    position: absolute;
    margin-top: -20pt;
    margin-left: 10pt;
  }
}
h1:nth-of-type(2){
  margin-top: 200pt;
  span{
    position: absolute;
    margin-top: 80pt;
    margin-left: 10pt;
  }
}

h2 {
  font-weight: normal;
  // text-align: center;
  margin: 0;
  font-family:'Ume-condensed';
  line-height: 110pt;
  letter-spacing: 5pt;
  font-size: 120pt;
  margin-top: 30pt;
  // text-transform: uppercase;
}
h3 {
  padding-right: 10pt;
  font-weight: normal;
  text-align: right;
  margin: 0;
  font-family:'Ume-saison';
  line-height: 110pt;
  letter-spacing: 5pt;
  font-size: 120pt;
  background: white;
  border-top: 3px solid @text-color;
  border-right: 3px solid @text-color;
  // text-transform: uppercase;
}
h4 {
  padding: 10pt;
  font-weight: normal;
  // text-align: right;
  margin: 0;
  font-family:'Ume-condensed';
  line-height: 55pt;
  letter-spacing: 5pt;
  font-size: 50pt;
  border-bottom: 3px solid @text-color;
  border-left: 3px solid @text-color;
  background: white;
  // text-transform: uppercase;
}


.fond {
  background-image: url('../fond1.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.cadra {
  height: 350pt;
  width: auto;
  float: left;
  margin-top: -200px;
  // display: none;
}
.cadra svg {
  height: 100%;
  width: auto;
  // margin-bottom: 100px;
  overflow: visible
}

.cadra:nth-of-type(3),
.cadra:nth-of-type(9){
  float: none
}

.map1 {
  background-image: url('../1.png');
  background-repeat: no-repeat;
  background-size: 100%
}
.map2 {
  background-image: url('../2.png');
  background-repeat: no-repeat;
  background-size: 100%
}

.map3 {
  background-image: url('../3.png');
  background-repeat: no-repeat;
  background-size: 100%
}
.map4 {
  background-image: url('../4.png');
  background-repeat: no-repeat;
  background-size: 100%
}

.map5 {
  background-image: url('../5.png');
  background-repeat: no-repeat;
  background-size: 100%
}
.map6 {
  background-image: url('../6.png');
  background-repeat: no-repeat;
  background-size: 100%
}

.ume-js{
  transform: rotate(0deg)
}
