<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta property="viewport" name="viewport" content="width=device-width">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta property="description" name="description" content="Théâtre la Balsamine">
<meta property="author" name="author" content="la Balsamine">
<meta property="category" name="category" content="Théâtre la Balsamine">
<style type="text/css">

a{
    color:black !important;
    text-decoration:underline;
    }

a:hover{
    /*color:#ff546d;*/
    color : #ff546d !important;
    text-decoration:underline;
    -webkit-text-decoration-color: #ff546d;
    text-decoration-color: #ff546d;
    }

</style>

<div class="content" style="background-color:transparent;padding-top:32px;padding-bottom:0px;padding-right:0px;padding-left:0px;margin-top:auto;margin-bottom:auto;margin-right:auto;margin-left:auto;width:600px;font-size:14pt;line-height:18pt;font-family:'ume-stroke-stroke-condensed-int-100-ext-100', sans-serif;font-stretch:condensed;color:black;weight:normal;" >
    <div class="header" style="margin-bottom:10pt;background-color:transparent;background-image:url('http://balsamine.be/theme/imgs/damier.png');background-repeat:repeat;background-position:0px 60px;background-attachment:scroll;background-size:30px;padding-top:5px;padding-bottom:20px;padding-right:0px;padding-left:10px;" >
        <img  width="300" src ="https://gitlab.constantvzw.org/osp/work.balsamine.2017-2018/raw/master/news/news-bikini/logo-balsa17-18.png" style="width:300px;margin-top:8pt;margin-bottom:8pt;margin-right:0pt;margin-left:0pt;" />
        <p style="margin-top:0pt;margin-bottom:0pt;" >Invitation</p>
    </div>

  <p  style="text-indent: 0pt; margin: 0pt;">
    %%titre_id%% %%prenom%% %%nom%%
  </p>

  <p style="text-indent: 0pt; margin: 0pt;">
    La Balsamine est heureuse de vous inviter pour :
  </p>

  <h1 style="font-size:30pt;line-height:34pt;font-family:'ume-stroke-stroke-condensed-int-180-ext-180', sans-serif;font-stretch:condensed;color:black;text-decoration:none;margin-top:20pt !important;margin-bottom:6pt !important;margin-right:0pt !important;margin-left:0pt !important;font-weight:normal;" >
  Titre spectacle
  </h1>
    <h2 style="padding-left:30pt;margin-top:0pt !important;margin-bottom:0pt !important;margin-right:0pt !important;margin-left:0pt !important;line-height:28pt;font-stretch:expanded;font-weight:normal;font-size:25pt;" >
    Sous-titre
    </h2>
    <p class="date" style="margin-top:0pt !important;padding-left:30pt;margin-bottom:0pt !important;margin-right:0pt !important;margin-left:0pt !important;font-family:'ume-stroke-stroke-condensed-int-150-ext-150', sans-serif;font-size:18pt;line-height:22pt;" >Création transversale :
      type (ex: danse - ​vidéo - ​musique - ​texte)</p>
    <p class="date" style="margin-top:0pt !important;padding-left:30pt;margin-bottom:0pt !important;margin-right:0pt !important;margin-left:0pt !important;font-family:'ume-stroke-stroke-condensed-int-150-ext-150', sans-serif;font-size:18pt;line-height:22pt;" >dates (ex: Les 28, 29 et 30 septembre à 20h30)</p>
    <div>
    <img  width="600" src ="lien image ou gif" style="width:600px;margin-top:8pt;margin-bottom:8pt;margin-right:0pt;margin-left:0pt;" />
    <p class="copyright" style="margin-top:0pt;font-size:9pt;font-stretch:expanded;text-align:center;margin-bottom:5px;" >© Julie Kern Donck</p>
  </div>



          <p style="margin-top:0pt;margin-bottom:0pt;" ><a href="lien page spectacle (ex: http://balsamine.be/saison-16-17/les-oracles.html)" style="color:black;float:right;margin-top:1em;margin-bottom:21pt;margin-right:1;margin-left:1;padding-top:0.3em !important;padding-bottom:0.3em !important;padding-right:0.6em !important;padding-left:0.6em !important;font-size:12pt;border-radius:1.2em;background-color:#fce761;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;" >Plus d'infos</a></p>
 <div>
  <p style="font-size:10pt;font-stretch:expanded;line-height:13pt;margin-top:80px;" >NB: L'invitation est strictement personnelle et valable pour deux personnes, dans la limite des places disponibles.</p>

  <p style="text-indent: 32pt;">
    Réservation souhaitée :<br/>
    Au 02 735  64  68, du lundi au vendredi de 14h à 18h. En dehors de ces heures et le week-end, un répondeur prend vos réservations 24h/24.<br/>
    Via notre adresse e-mail <a  style="color: #0078bf; margin: 0pt;" href="mailto:reservation@balsamine.be">reservation@balsamine.be</a>
  </p>
</div>

<h1 style="font-size:30pt;line-height:34pt;font-family:'ume-stroke-stroke-condensed-int-180-ext-180', sans-serif;font-stretch:condensed;color:black;text-decoration:none;margin-top:20pt !important;margin-bottom:6pt !important;margin-right:0pt !important;margin-left:0pt !important;font-weight:normal;" >
Titre spectacle
</h1>
  <h2 style="padding-left:30pt;margin-top:0pt !important;margin-bottom:0pt !important;margin-right:0pt !important;margin-left:0pt !important;line-height:28pt;font-stretch:expanded;font-weight:normal;font-size:25pt;" >
  Sous-titre
  </h2>
  <p class="date" style="margin-top:0pt !important;padding-left:30pt;margin-bottom:0pt !important;margin-right:0pt !important;margin-left:0pt !important;font-family:'ume-stroke-stroke-condensed-int-150-ext-150', sans-serif;font-size:18pt;line-height:22pt;" >Création transversale :
    type (ex: danse - ​vidéo - ​musique - ​texte)</p>
  <p class="date" style="margin-top:0pt !important;padding-left:30pt;margin-bottom:0pt !important;margin-right:0pt !important;margin-left:0pt !important;font-family:'ume-stroke-stroke-condensed-int-150-ext-150', sans-serif;font-size:18pt;line-height:22pt;" >dates (ex: Les 28, 29 et 30 septembre à 20h30)</p>
  <div>
  <img  width="600" src ="lien image ou gif" style="width:600px;margin-top:8pt;margin-bottom:8pt;margin-right:0pt;margin-left:0pt;" />
  <p class="copyright" style="margin-top:0pt;font-size:9pt;font-stretch:expanded;text-align:center;margin-bottom:5px;" >© Julie Kern Donck</p>
</div>



        <p style="margin-top:0pt;margin-bottom:0pt;" ><a href="lien page spectacle (ex: http://balsamine.be/saison-16-17/les-oracles.html)" style="color:black;float:right;margin-top:1em;margin-bottom:21pt;margin-right:1;margin-left:1;padding-top:0.3em !important;padding-bottom:0.3em !important;padding-right:0.6em !important;padding-left:0.6em !important;font-size:12pt;border-radius:1.2em;background-color:#aa928c;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;" >Plus d'infos</a></p>
<div>
<p style="font-size:10pt;font-stretch:expanded;line-height:13pt;margin-top:80px;" >NB: L'invitation est strictement personnelle et valable pour deux personnes, dans la limite des places disponibles.</p>

<p style="text-indent: 32pt;">
  Réservation souhaitée :<br/>
  Au 02 735  64  68, du lundi au vendredi de 14h à 18h. En dehors de ces heures et le week-end, un répondeur prend vos réservations 24h/24.<br/>
  Via notre adresse e-mail <a  style="color: #0078bf; margin: 0pt;" href="mailto:reservation@balsamine.be">reservation@balsamine.be</a>
</p>
</div>

  <div class="footer" style="background-color:transparent;margin-bottom:auto;margin-right:auto;margin-left:auto;width:600px;font-size:12pt;line-height:15pt;margin-top:60px;" >
      <div class="contact">
        <p style="margin-top:0pt;margin-bottom:0pt;" >
        <span class="contact-point" style="display:inline-block;font-family:'ume-stroke-stroke-condensed-int-150-ext-150', sans-serif;padding-top:2px;padding-bottom:2px;padding-right:8px;padding-left:8px;font-stretch:condensed;border-width:1px;border-style:solid;border-color:black;border-radius:16px;" >La Balsamine</span>
          <span class="contact-info" style="display:inline-block;font-family:'ume-stroke-stroke-expanded-int-0-ext-140', sans-serif;font-stretch:expanded;" >avenue Félix Marchal, 1 | 1030 Bruxelles</span>
        </p>
        <p style="margin-top:0pt;margin-bottom:0pt;" >
        <span class="contact-point" style="display:inline-block;font-family:'ume-stroke-stroke-condensed-int-150-ext-150', sans-serif;padding-top:2px;padding-bottom:2px;padding-right:8px;padding-left:8px;font-stretch:condensed;border-width:1px;border-style:solid;border-color:black;border-radius:16px;" >Administration</span>
          <span class="contact-info" style="display:inline-block;font-family:'ume-stroke-stroke-expanded-int-0-ext-140', sans-serif;font-stretch:expanded;" >+32 2 732 96 18 | <a href="mailto:info@balsamine.be" style="color:black;text-decoration:underline;" >info@balsamine.be</a>
        </p>
        <span class="contact-point" style="display:inline-block;font-family:'ume-stroke-stroke-condensed-int-150-ext-150', sans-serif;padding-top:2px;padding-bottom:2px;padding-right:8px;padding-left:8px;font-stretch:condensed;border-width:1px;border-style:solid;border-color:black;border-radius:16px;" >Réservation</span>
          <span class="contact-info" style="display:inline-block;font-family:'ume-stroke-stroke-expanded-int-0-ext-140', sans-serif;font-stretch:expanded;" >+32 2 735 64 68 | <a href="mailto:reservation@balsamine.be" style="color:black;text-decoration:underline;" >reservation@balsamine.be</a></span>
        <p style="margin-top:0pt;margin-bottom:0pt;" >
        <span class="contact-site" style="display:inline-block;font-family:'ume-stroke-stroke-expanded-int-0-ext-140', sans-serif;font-stretch:expanded;margin-top:16pt;padding-top:0.2em;padding-bottom:0.2em;padding-right:1em;padding-left:1em;text-decoration:none;border-radius:16px;background-color:#46cea0;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;" ><a href="http://balsamine.be/" style="color:black;text-decoration:underline;" >www.balsamine.be</a></span>
      </p>
      </div>

  </div>
  </div>
