@import '../../../css/main.less';


#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
}

body {
    font-size: 24pt;
}

h1 + h1 {
margin-left: 52pt;
}
// .en {
//   margin-top: 10pt;
// line-height: 12pt !important;
// font-size: 10pt !important;
// margin-left: 0pt!important;
// }
