/**
 * This file holds the declaration of the fonts used in our layout.
 */


@font-face {
    font-family: 'Ume-condensed';
    src: url('/fonts/ume-stroke-stroke-master-condensed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ume-expanded';
    src: url('/fonts/ume-stroke-stroke-master-expanded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ume-saison';
    src: url('/fonts/ume-stroke-stroke-saison2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
