/**
 * This file holds the declaration of the fonts used in our layout.
 */

 @font-face {
     font-family: 'Ume double stroke info pratique';
     font-weight: normal;
     font-style: normal;
     src: url('/fonts/ume-stroke-stroke-condensed-int-180-ext-180.woff') format('woff');
 }

 @font-face {
     font-family: 'Ume double stroke master expanded';
     font-weight: normal;
     font-style: normal;
     src: url('/fonts/ume-stroke-stroke-expended-int-100-ext-100.woff') format('woff');
 }

 @font-face {
     font-family: 'Ume double stroke master condensed';
     font-weight: normal;
     font-style: normal;
     src: url('/fonts/ume-stroke-stroke-condensed-int-100-ext-100.woff') format('woff');
 }

 @font-face {
     font-family: 'Ume double stroke master expended fat';
     font-weight: normal;
     font-style: normal;
     src: url('/fonts/ume-stroke-stroke-expended-fat.woff') format('woff');
 }

 @font-face {
     font-family: 'Ume double stroke affiche saison';
     font-weight: normal;
     font-style: normal;
     src: url('/fonts/ume-stroke-stroke-affiche-saison.woff') format('woff');
 }

 /**
  * Below : titles fonts.
  */

  @font-face {
      font-family: 'Ume double stroke 05';
      font-weight: normal;
      font-style: normal;
      src: url('/fonts/ume-titre/ume-stroke-stroke-scaleX-0-5-int-500-ext-500.otf') format('otf');
  }

  @font-face {
      font-family: 'Ume double stroke 07';
      font-weight: normal;
      font-style: normal;
      src: url('/fonts/ume-titre/ume-stroke-stroke-scalex-0-7-int-500-ext-500.woff') format('woff');
  }

  @font-face {
      font-family: 'Ume double stroke 10';
      font-weight: normal;
      font-style: normal;
      src: url('/fonts/ume-titre/ume-stroke-stroke-scalex-1-0-int-500-ext-500.woff') format('woff');
  }

  @font-face {
      font-family: 'Ume double stroke 12';
      font-weight: normal;
      font-style: normal;
      src: url('/fonts/ume-titre/ume-stroke-stroke-scalex-1-2-int-500-ext-500.woff') format('woff');
  }
