@import '../../../css/main.less';


#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
}

 #flow-main div:nth-of-type(5) img {
    -webkit-flow-into: flow-image-ghost;
            flow-into: flow-image-ghost;
}

.flow-image-ghost {
    -webkit-flow-from: flow-image-ghost;
            flow-from: flow-image-ghost;
}

#flow-main div:nth-of-type(7) img {
   -webkit-flow-into: flow-image-mother;
           flow-into: flow-image-mother;
}

.flow-image-mother {
   -webkit-flow-from: flow-image-mother;
           flow-from: flow-image-mother;
}

#flow-main div:nth-of-type(9) img {
   -webkit-flow-into: flow-image-nature;
           flow-into: flow-image-nature;
}

.flow-image-nature {
   -webkit-flow-from: flow-image-nature;
           flow-from: flow-image-nature;
}

#flow-main div:nth-of-type(11) img {
   -webkit-flow-into: flow-image-preuve;
           flow-into: flow-image-preuve;
}

.flow-image-preuve {
   -webkit-flow-from: flow-image-preuve;
           flow-from: flow-image-preuve;

}


#flow-main div:nth-of-type(13) img {
   -webkit-flow-into: flow-image-valhalla ;
           flow-into: flow-image-valhalla ;
}

.flow-image-valhalla {
   -webkit-flow-from: flow-image-valhalla;
           flow-from: flow-image-valhalla;
}

#flow-main div:nth-of-type(15) img {
   -webkit-flow-into: flow-image-salon ;
           flow-into: flow-image-salon ;
}

.flow-image-salon {
   -webkit-flow-from: flow-image-salon;
           flow-from: flow-image-salon;
}
#flow-main div:nth-of-type(17) img {
   -webkit-flow-into: flow-image-pattern ;
           flow-into: flow-image-pattern ;
}

.flow-image-pattern {
   -webkit-flow-from: flow-image-pattern;
           flow-from: flow-image-pattern;

}
#flow-main div:nth-of-type(19) img {
   -webkit-flow-into: flow-image-siderium ;
           flow-into: flow-image-siderium ;
}

.flow-image-siderium {
   -webkit-flow-from: flow-image-siderium;
           flow-from: flow-image-siderium;
}
