
<h1 id="lécole-des-maîtres-2017">L’École des Maîtres 2017</h1>
<ul>
<li><p>2017/09/11</p></li>
<li><p>20h00 Entrée libre mais réservation conseillée !</p></li>
<li><p>Théâtre</p></li>
<li><p>Albert Dupont</p></li>
</ul>
<div class="figure">
<img src="/assets/img/1%20-%20Lost%20in%20Ballet%20Russe/3D/working%20renders/Helmett.Tex.Diffuse-transparent.png" class="uvmap" />

</div>
<h2 id="on-retourne-à-lécole-avec-transquin-maître-quinquin">On retourne à l’école avec Transquin, maître quinquin !</h2>
<p>??? Transquinquennal En partenariat avec le CREPA et le CAS</p>
<p><img src="/assets/img/1%20-%20Lost%20in%20Ballet%20Russe/3D/working%20renders/everything-2.png" class="scene" /> <img src="/assets/img/1%20-%20Lost%20in%20Ballet%20Russe/3D/working%20renders/fern2.png" class="objets" /> <img src="/assets/img/1%20-%20Lost%20in%20Ballet%20Russe/3D/working%20renders/st-sebastien-helmet-1.png" class="objets" /> <img src="/assets/img/1%20-%20Lost%20in%20Ballet%20Russe/3D/working%20renders/st-sebastien-helmet-2.png" class="objets" /> <img src="/assets/img/1%20-%20Lost%20in%20Ballet%20Russe/3D/working%20renders/vinegar1.png" class="objets" /></p>
<p>5 jeunes artistes européens professionnels sont dirigés par Transquinquennal, le collectif le plus insolite et endurant de notre paysage culturel, passé exceptionnellement maîtres pour l’occasion. Le sujet de recherche de ce laboratoire est la valeur mercantile de l’individu et de son existence.  </p>

