
<h1 id="etna">Etna</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/03/07</li>
<li>End_date: 2017/03/08</li>
<li>Time: 20h30</li>
<li>Piece_author: Thi-Mai Nguyen</li>
<li>Event_type: Création danse</li>
</ul>
<p>???Dans le cadre de Brussels, dance ! Focus on contemporary dance.</p>

