
<h1 id="i-clit">i-clit</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/02/27</li>
<li>End_date: 2017/02/28</li>
<li>Time: 20h30</li>
<li>Piece_author: Mercedes Dassy</li>
<li>Event_type: Création danse</li>
</ul>
<p>??? Dans le cadre de Brussels, dance ! Focus on contemporary dance.</p>
<blockquote>
<ul>
<li>Concept, chorégraphie, interprétation</li>
<li>: Mercedes Dassy</li>
</ul>
</blockquote>

