
<h1 id="la-lettre-volée">La lettre volée</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/11/09</li>
<li>End_date: 2017/11/11</li>
<li>Time: 20h30</li>
<li>Piece_author: En coproduction avec Ars Musica</li>
<li>Event_type: Vidéopéra</li>
</ul>
<blockquote>
<ul>
<li>Directeur artistique et compositeur</li>
<li>: Denis Bosse</li>
</ul>
</blockquote>

