
<h1 id="les-oracles">Les oracles</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/09/28</li>
<li>End_date: 2017/09/30</li>
<li>Time: 20h30</li>
<li>Piece_author: Albert Dupont</li>
<li>Event_type: Création transversale danse / vidéo / musique / texte</li>
</ul>
<blockquote>
<ul>
<li>Direction artistique et mise en scène</li>
<li>: Simon Dumas</li>
</ul>
</blockquote>
<h2 id="percées">Percées</h2>
<blockquote>
<ul>
<li>Auteure</li>
<li>: Catrine Godin</li>
<li>Chorégraphie</li>
<li>: Karine Ledoyen</li>
</ul>
</blockquote>
<h2 id="prototype-no.-1">Prototype no. 1</h2>
<blockquote>
<ul>
<li>Auteure</li>
<li>: Martine Delvaux</li>
<li>Chorégraphie</li>
<li>: Manon Oligny</li>
</ul>
</blockquote>

