
<h1 id="les-mardis-contemporains">Les mardis contemporains</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/11/14</li>
<li>End_date: 2017/11/21</li>
<li>Time: 20h30</li>
<li>Piece_author: En partenariat avec Ars musica</li>
<li>Event_type: Musique</li>
</ul>
<h2 id="architecture">Architecture</h2>
<ul>
<li>Date2: Le 14 novembre à 20h30</li>
</ul>
<h2 id="cirque">Cirque</h2>
<ul>
<li>Date2: Le 21 novembre à 20h30</li>
</ul>

