
<h1 id="les-loups">Les loups</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/03/26</li>
<li>End_date: 2017/03/30</li>
<li>Time: 20h30</li>
<li>Piece_author: Jean Le Peltier</li>
<li>Event_type: Création théâtre</li>
</ul>
<blockquote>
<ul>
<li>Texte et mise en scène</li>
<li>: Jean Le Peltier</li>
</ul>
</blockquote>

