
<h1 id="les-carnets-de-peter">Les carnets de Peter</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: Dates et horaire à confirmer</li>
<li>End_date: 2017/xx/xx</li>
<li>Time: 20h30 (relâche le dimanche)</li>
<li>Piece_author: Le théâtre du Tilleul</li>
<li>Event_type: Théâtre pour tous, à partir de 7 ans</li>
</ul>
<blockquote>
<ul>
<li>Mise en scène</li>
<li>: Sabine Durand</li>
</ul>
</blockquote>

