
<h1 id="les-lundis-en-coulisse">Les Lundis en coulisse</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/12/11</li>
<li>End_date: 2017/12/11</li>
<li>Time: 14h00 à 18h00</li>
<li>Piece_author:</li>
<li>Event_type: A la rencontre des écritures dramatiques contemporaines</li>
</ul>

