
<h1 id="les-fortunes-de-la-viande">Les fortunes de la viande</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/01/30</li>
<li>End_date: 2017/02/10</li>
<li>Time: 20h30 (relâche le dimanche)</li>
<li>Piece_author: Martine Wijckaert</li>
<li>Event_type: Création théâtre</li>
</ul>
<blockquote>
<ul>
<li>ÉCRITURE ET MISE EN SCÈNE</li>
<li>: Martine Wijckaert</li>
</ul>
</blockquote>

