
<h1 id="lost-in-ballets-russes">Lost in Ballets russes</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/10/24</li>
<li>End_date: 2017/10/26</li>
<li>Time: 20h30</li>
<li>Piece_author: Lara Barsacq</li>
<li>Event_type: Création danse</li>
</ul>
<blockquote>
<ul>
<li>Conception, texte, dramaturgie et interprétation</li>
<li>: Lara Barsacq</li>
</ul>
</blockquote>

