
<h1 id="on-pense-à-vous">On pense à vous</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/05/04</li>
<li>End_date: 2017/05/05</li>
<li>Time: xxhxx</li>
<li>Piece_author: Théâtre de Galafronie</li>
<li>Event_type: Théâtre pour tous à partir de 6 ans</li>
</ul>
<dl>
<dt>Texte et interprétation</dt>
<dd>Marianne Hansé Mise en scène
</dd>
<dd>Didier de Neck
</dd>
</dl>

