
<h1 id="en-toute-impudence">En toute impudence</h1>
<p>Nom:</p>
<p>Prénom:</p>
<p>Pass n°:</p>
<p>Ce pass est nominatif et vendu au prix de 20€. La réservation des places peut se faire à tout moment au cours de la saison, sous réserve des places disponibles.</p>
<p>L'espace ci-contre est à faire poinçonner pour activer votre pass.</p>
<p>Ce passeport vous donne accès aux spectacles suivants →</p>
<hr />
<h1 id="lécole-des-maîtres-2017">L’École des Maîtres 2017</h1>
<blockquote>
<ul>
<li>date_1:</li>
</ul>
</blockquote>
<ul>
<li>2017/09/11</li>
</ul>
<blockquote>
<ul>
<li>Time:</li>
</ul>
</blockquote>
<ul>
<li>20h00 Entrée libre mais réservation conseillée !</li>
</ul>
<blockquote>
<ul>
<li>Event_type:</li>
</ul>
</blockquote>
<ul>
<li>Théâtre</li>
</ul>
<blockquote>
<ul>
<li>Author:</li>
</ul>
</blockquote>
<ul>
<li>Albert Dupont</li>
</ul>
<p>On retourne à l’école avec Transquin, maître quinquin !</p>
<p>??? Transquinquennal</p>
<hr />
<h1 id="les-oracles">Les oracles</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/09/28</li>
<li>End_date: 2017/09/30</li>
<li>Time: 20h30</li>
<li>Piece_author: Albert Dupont</li>
<li>Event_type: Création transversale danse / vidéo / musique / texte</li>
</ul>
<blockquote>
<ul>
<li>Direction artistique et mise en scène</li>
<li>: Simon Dumas</li>
</ul>
</blockquote>
<h2 id="percées">Percées</h2>
<blockquote>
<ul>
<li>Auteure</li>
<li>: Catrine Godin</li>
<li>Chorégraphie</li>
<li>: Karine Ledoyen</li>
</ul>
</blockquote>
<h2 id="prototype-no.-1">Prototype no. 1</h2>
<blockquote>
<ul>
<li>Auteure</li>
<li>: Martine Delvaux</li>
<li>Chorégraphie</li>
<li>: Manon Oligny</li>
</ul>
</blockquote>
<hr />
<h1 id="up-pen-down">Up Pen Down</h1>
<ul>
<li>Start_date: 2017/10/14</li>
<li>End_date: 2017/10/14</li>
<li>Time: 20h30</li>
<li>Piece_author: OSP</li>
<li>Event_type: Création transversale danse / vidéo / musique / texte</li>
</ul>
<p>(à développer)</p>
<hr />
<h1 id="lost-in-ballets-russes">Lost in Ballets russes</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/10/24</li>
<li>End_date: 2017/10/26</li>
<li>Time: 20h30</li>
<li>Piece_author: Lara Barsacq</li>
<li>Event_type: Création danse</li>
</ul>
<blockquote>
<ul>
<li>Conception, texte, dramaturgie et interprétation</li>
<li>: Lara Barsacq</li>
</ul>
</blockquote>
<p>Une production de Gilbert &amp; Stock en coproduction avec Charleroi-Danses, avec les soutiens de la Bellone, de la Raffinerie, de la Ménagerie de verre et du Théâtre la Balsamine.{. production}</p>
<hr />
<h1 id="la-lettre-volée">La lettre volée</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/11/09</li>
<li>End_date: 2017/11/11</li>
<li>Time: 20h30</li>
<li>Piece_author: En coproduction avec Ars Musica</li>
<li>Event_type: Vidéopéra</li>
</ul>
<blockquote>
<ul>
<li>Directeur artistique et compositeur</li>
<li>: Denis Bosse</li>
</ul>
</blockquote>
<hr />
<h1 id="les-mardis-contemporains">Les mardis contemporains</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/11/14</li>
<li>End_date: 2017/11/21</li>
<li>Time: 20h30</li>
<li>Piece_author: En partenariat avec Ars musica</li>
<li>Event_type: Musique</li>
</ul>
<h2 id="architecture">Architecture</h2>
<ul>
<li>Date2: Le 14 novembre à 20h30</li>
</ul>
<h2 id="cirque">Cirque</h2>
<ul>
<li>Date2: Le 21 novembre à 20h30</li>
</ul>
<hr />
<h1 id="should-i-stay-or-should-i-stay">Should i stay or should i stay</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/11/16</li>
<li>End_date: 2017/11/24</li>
<li>Time: 20h30</li>
<li>Piece_author: Simon Thomas</li>
<li>Event_type: Théâtre</li>
</ul>
<p>????? Les 16, 20, 22, 23 et 24 Novembre à 20h30</p>
<blockquote>
<ul>
<li>Écriture et mise en scène</li>
<li>: Simon Thomas</li>
</ul>
</blockquote>
<hr />
<h1 id="les-lundis-en-coulisse">Les Lundis en coulisse</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/12/11</li>
<li>End_date: 2017/12/11</li>
<li>Time: 14h00 à 18h00</li>
<li>Piece_author:</li>
<li>Event_type: A la rencontre des écritures dramatiques contemporaines</li>
</ul>
<hr />
<h1 id="scripta-manent">Scripta Manent</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/02/14</li>
<li>End_date: 2017/02/15</li>
<li>Time: 20h30</li>
<li>Piece_author:</li>
<li>Event_type: Cycle nouvelles écritures</li>
</ul>
<hr />
<h1 id="les-carnets-de-peter">Les carnets de Peter</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: Dates et horaire à confirmer</li>
<li>End_date: 2017/xx/xx</li>
<li>Time: 20h30 (relâche le dimanche)</li>
<li>Piece_author: Le théâtre du Tilleul</li>
<li>Event_type: Théâtre pour tous, à partir de 7 ans</li>
</ul>
<blockquote>
<ul>
<li>Mise en scène</li>
<li>: Sabine Durand</li>
</ul>
</blockquote>
<hr />
<h1 id="les-fortunes-de-la-viande">Les fortunes de la viande</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/01/30</li>
<li>End_date: 2017/02/10</li>
<li>Time: 20h30 (relâche le dimanche)</li>
<li>Piece_author: Martine Wijckaert</li>
<li>Event_type: Création théâtre</li>
</ul>
<blockquote>
<ul>
<li>ÉCRITURE ET MISE EN SCÈNE</li>
<li>: Martine Wijckaert</li>
</ul>
</blockquote>
<hr />
<h1 id="i-clit">i-clit</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/02/27</li>
<li>End_date: 2017/02/28</li>
<li>Time: 20h30</li>
<li>Piece_author: Mercedes Dassy</li>
<li>Event_type: Création danse</li>
</ul>
<p>??? Dans le cadre de Brussels, dance ! Focus on contemporary dance.</p>
<blockquote>
<ul>
<li>Concept, chorégraphie, interprétation</li>
<li>: Mercedes Dassy</li>
</ul>
</blockquote>
<hr />
<h1 id="etna">Etna</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/03/07</li>
<li>End_date: 2017/03/08</li>
<li>Time: 20h30</li>
<li>Piece_author: Thi-Mai Nguyen</li>
<li>Event_type: Création danse</li>
</ul>
<p>???Dans le cadre de Brussels, dance ! Focus on contemporary dance.</p>
<hr />
<h1 id="les-loups">Les loups</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/03/26</li>
<li>End_date: 2017/03/30</li>
<li>Time: 20h30</li>
<li>Piece_author: Jean Le Peltier</li>
<li>Event_type: Création théâtre</li>
</ul>
<blockquote>
<ul>
<li>Texte et mise en scène</li>
<li>: Jean Le Peltier</li>
</ul>
</blockquote>
<hr />
<h1 id="trilogie-de-rome">Trilogie de Rome</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/04/23</li>
<li>End_date: 2017/04/27</li>
<li>Time: 20h30</li>
<li>Piece_author: Théâtre de Galafronie</li>
<li>Event_type: Création théâtre</li>
</ul>
<blockquote>
<ul>
<li>Texte et mise en scène</li>
<li>: Ludovic Drouet</li>
</ul>
</blockquote>
<p>Une production de Ludovic Drouet en coproduction avec le Théâtre la Balsamine.{. production}</p>
<hr />
<h1 id="on-pense-à-vous">On pense à vous</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/05/04</li>
<li>End_date: 2017/05/05</li>
<li>Time: xxhxx</li>
<li>Piece_author: Théâtre de Galafronie</li>
<li>Event_type: Théâtre pour tous à partir de 6 ans</li>
</ul>
<dl>
<dt>Texte et interprétation</dt>
<dd>Marianne Hansé Mise en scène
</dd>
<dd>Didier de Neck
</dd>
</dl>
<hr />
<h1 id="kunstenfestivaldesarts">Kunstenfestivaldesarts</h1>
<p>Date: 2017/xx/xx ???Start_date: 2017/05/01 ???End_date: 2017/05/31</p>
<hr />
<h1 id="pif-3---pauvre-et-informe-festival-3">PIF 3 - Pauvre et Informe Festival 3</h1>
<p>Date: 2017/xx/xx Start_date: 2017/06/21 End_date: 2017/06/23 Time: 20h30</p>
<h2 id="blair-pitch-projet">Blair pitch projet</h2>

