
<h1 id="should-i-stay-or-should-i-stay">Should i stay or should i stay</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/11/16</li>
<li>End_date: 2017/11/24</li>
<li>Time: 20h30</li>
<li>Piece_author: Simon Thomas</li>
<li>Event_type: Théâtre</li>
</ul>
<p>????? Les 16, 20, 22, 23 et 24 Novembre à 20h30</p>
<blockquote>
<ul>
<li>Écriture et mise en scène</li>
<li>: Simon Thomas</li>
</ul>
</blockquote>

