
<h1 id="trilogie-de-rome">Trilogie de Rome</h1>
<ul>
<li>Date: 2017/xx/xx</li>
<li>Start_date: 2017/04/23</li>
<li>End_date: 2017/04/27</li>
<li>Time: 20h30</li>
<li>Piece_author: Théâtre de Galafronie</li>
<li>Event_type: Création théâtre</li>
</ul>
<blockquote>
<ul>
<li>Texte et mise en scène</li>
<li>: Ludovic Drouet</li>
</ul>
</blockquote>

