@import '../../../css/main.less';


#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
}

body {
    font-size: 24pt;
}

h1 + h1 {
margin-left: 52pt;
}

.informations:last-of-type{
  text-align: center;
}
.en {
  margin-top: 10pt;
  line-height: 14pt !important;
  font-size: 12pt !important;
}
.intro {
  font-size: 13pt;
line-height: 14.5pt;
}
