/* the geometry of the page */
@page-width: 65mm;
@page-height: 95mm;

/* the size of the crop marks*/
@crop-size: 5mm;

/* the size of bleed */
@bleed: 5mm;

@page-margin-inside: (@page-width/18)*1;
@page-margin-outside:(@page-width/18)*1;
@page-margin-top:(@page-height/18)*0;
@page-margin-bottom: 0pt;

// Header & footer variables
@header-height: 5mm;
@header-text: " ";
@footer-height: 3mm;
// @footer-text: counter(page-counter);
@footer-text: " ";
