html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

#viewport {
    position: fixed;
    width: 100%;
    height: -webkit-calc(100% - 25px);
    height: calc(100% - 25px);
    border: none;
}

#toolbar {
    background-color: black;
    position: fixed;
    height: 25px;
    bottom: 0em;
    left: 0;
    right: 0;
    color: white;
    font-family: sans;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 0;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

#toolbar > label {
    margin-left: 1.5em;
    margin-right: 3px;
}

#toolbar > input {
    border: 1px solid white;
    background-color: white;
    font-size: 11px;
    vertical-align: -2px;
}

#toolbar > input[type=number]{
    width: 50px;
    vertical-align: 0px;
    margin-left: 2px;
}

#toolbar > input:hover {
    cursor: pointer;
    background-color: yellow;
}

#toolbar > button {
    border: 1px solid white;
    background-color: white;
    font-size: 11px;
    text-transform: uppercase;
    margin-right: 1em;
    height: 19px;
}

#toolbar > button:hover {
    cursor: pointer;
    background-color: yellow;
}

#toolbar > .separator {
    content: " ";
    flex-grow: 2;
    -webkit-flex-grow: 2;
}
