@font-face {
    font-family: 'Ume-wide';
    src: url("/assets/fonts/Ume-Vertical-Wide.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* -------------------------------------------- VARIABLES ----------------------------------------- */
@font-size: 9.5pt;
@body-font:'Ume-wide';
@line-height: 11.5pt;




/* -------------------------------------------- GENERIC CLASSES ----------------------------------------- */


body{
	line-height: @line-height;
}

h1,
h2 {
    color: inherit;
}



a {
    text-decoration: none;
    color: inherit;
}

em {
    font-style: italic;
}

div.column {
    float: left;
    padding: 0 @line-height / 2;
    height: 100%;
    box-sizing: border-box;
}

div.column90 { width: 90%; }
div.column60 { width: 60%; }
div.column50 { width: 50%; }
div.column30 { width: 30%; }
div.column25 { width: 25%; }
