@font-face {
  font-family: "UmeWide";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/ume-vertical-wide-webfont.woff") format("woff");
}

@font-face {
    font-family: 'Ume double stroke info pratique';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/ume-stroke-stroke-condensed-int-180-ext-180.ttf') format('woff');
}

@font-face {
    font-family: 'Ume double stroke master condensed';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/ume-stroke-stroke-condensed-int-100-ext-100.ttf') format('woff');
}

h3{
  font-family: 'Ume double stroke info pratique' !important;
  font-size: 2.5em !important;
  line-height: 1.1em !important;
}

.row p{
  font-family: 'Ume double stroke info pratique' !important;
  font-size: 1.8em !important;
}

form .row{
  background-image:url() !important;
}

label{
  font-size: 1.3em !important;
}

form{
  font-family: 'Ume double stroke master condensed';
  margin-left:3em;
}

div{
  border:0px solid black;
}

button, .btn{
  border:none !important;
  border-radius: 1em !important;
  color:black !important;
  margin: 1px !important;
  padding: 6px 12px !important;
  font-size:1.3em !important
}

button, .btn{
  background-color: #FFFFFF !important;
  border: 1px solid black !important;
  border-radius:1em !important;
}

select{
  background-color: #FFFFFF !important;
  border: 1px solid black !important;
  border-radius:1em !important;
}

b{
  font-family: 'Ume double stroke master condensed';
  margin-left:3em;
  margin-bottom:1em !important;
  font-size: 1.3em !important;
  color:#888888 !important;
}

.col {
  border:1px solid black;
}

[align="left"]{
  border-top: 1px solid black;
  margin-top: 3em;
}

[class="col-xs-12 col-ms-10 col-sm-offset-1 col-md-10 col-md-offset-1"] > div{
  background-image: url(http://balsamine.be/images/damier.png);
  background-size:2%;
  padding-top:1em;
  padding-bottom: 1em;
  margin-bottom: 5em;
}

[class="col-xs-12 col-ms-9 col-md-9"] > b{
  display:none;
}

.separation{
  display:none;
}

[class="col-xs-12 col-sm-4 col-md-2 col-lg-2"] div{
  font-family: 'UmeWide';
}

[class="col-xs-12 col-sm-4 col-md-2 col-lg-2"] a{
  color:black !important;
}
