/* cmsms stylesheet: buddy011-Print modified: 17/05/2016 12:05:29 */
@charset "utf-8";
/* ----------------------------------------------
	Print CSS Document - CMS Template Buddy
	Template No.: 011
	Version 1.03 / for CMSMS 2.1.2+
	
	www.cmstemplatebuddy.com

	Please read README_FIRST.txt
------------------------------------------------- */
 
body {
	color: #000 !important;
	background-color: #fff !important;
	font-family: Arial;
	border: 0 !important;
}
* {
	border: 0 !important;
	text-align: left !important;
}
.accessibility, 
.noprint {
	display: none !important;
}
.wrapper,
.col-sm-4,
.col-sm-3,
.col-sm-6,
.col-sm-8,
.col-sm-12,
.col-xs-3,
.col-xs-9 {
	display: block !important;
	width: 100% !important;
	border: 0 !important;
	padding: 1em !important;
}
nav,
.parallax_block,
.customNavigation,
.parent-container,
.mobile-navigation,
.search-input,
.search-wrapper,
.sliderWrapper,
.featureIcon,
.totoplink,
[class^="fa-"],
[class*=" fa-"],
[class^="social-icon "],
[class*=" social-icon"]
 {
	display: none !important;
}
img {
	float: none !important;
}
a:link:after {
    content: " (" attr(href) ") ";
}
a {
    text-decoration: underline;
}
