@import "../../../css/main.less";
@color2: black;
@colorarch: #f665cc;
@color1 :black;
@line:35pt;
//@color2 :#f863c9;

.font1(@style){
    font-family:'Ume-condensed';
    font-style:@style;
}
em{
    .font1(italic);
}
#flow-main h1 {
    -webkit-flow-into: flow-titre;
        flow-into: flow-titre;
}
.flow-titre {
    -webkit-flow-from: flow-titre;
        flow-from: flow-titre;
}
#flow-main h2 {
    -webkit-flow-into: flow-balsa;
        flow-into: flow-balsa;
}
.flow-balsa{
    -webkit-flow-from: flow-balsa;
        flow-from: flow-balsa;
}
#flow-main h3 {
    -webkit-flow-into: flow-date;
        flow-into: flow-date;
}
.flow-date{
    -webkit-flow-from: flow-date;
        flow-from: flow-date;
}
#flow-main h4 {
    -webkit-flow-into: flow-pratique;
        flow-into: flow-pratique;
}
.flow-pratique{
    -webkit-flow-from: flow-pratique;
        flow-from: flow-pratique;
}

@text-color: rgb(0,56,117);
@text-color: black;
@text-color: #343594;
@background: white;
@background: #fce761;
// @text-color: #6b371c;
// 
h1, h2, h3, h4{
  color: @text-color;
}
h1 {
  font-weight: normal;
  text-align: center;
  margin: 0;
  font-family: 'Ume-expanded';
  line-height: 200pt;
  letter-spacing: 3pt;
  font-size: 260pt;
  // text-transform: uppercase;
}


h2 {
  font-weight: normal;
  // text-align: center;
  font-family:'Ume-condensed';
  line-height:0pt;
  letter-spacing: 10pt;
  font-size: 140pt;
  // margin-top: 30pt;
  // text-transform: uppercase;
}
h3 {
  font-weight: normal;
  text-align: left;
  font-family:'Ume-saison';
  // text-align: right;
  line-height: 130pt;
  letter-spacing: 10pt;
  font-size: 130pt;
  // border-top: 3px solid @text-color;
  // border-left: 3px solid @text-color;
  // text-transform: uppercase;
}
h4 {
  padding: 10pt;
  font-weight: normal;
  // text-align: right;
  margin: 0;
  font-family:'Ume-condensed';
  line-height: 55pt;
  letter-spacing: 5pt;
  font-size: 40pt;
  // border-bottom: 3px solid @text-color;
  // border-left: 3px solid @text-color;
  // background: white;
  // text-transform: uppercase;
}


.fond {
  background-image: url('../coin-de-boite-cuivre.svg');
  background-repeat: no-repeat;

  background-position: 4% 98%;
  background-size: 200%
}
.fond2 {
  background-image: url('../damier.png');
  // background-repeat: no-repeat;
  //
  // background-position: 0% 100%;
  background-size: 1%;
}

.cartouche {
  background: @background;
  box-shadow: 10px -100px 100px @background;
}

.cadra {
  height: 320pt;
  width: auto;
  float: left;
  // margin-top: 0px:
  // display: none;
}
.cadra svg {
  height: 100%;
  width: auto;
  // margin-bottom: 100px;
  overflow: visible
}

.cadra:nth-of-type(3),
.cadra:nth-of-type(9){
  float: none
}

.map1 {
  background-image: url('../tet.png');
  background-repeat: no-repeat;
  background-size: 100%
}
.map2 {
  background-image: url('../2.png');
  background-repeat: no-repeat;
  background-size: 100%
}

.map3 {
  background-image: url('../3.png');
  background-repeat: no-repeat;
  background-size: 100%
}
.map7 {
  background-image: url('../7.png');
  background-repeat: no-repeat;
  background-size: 100%
}

.map5 {
  background-image: url('../5.png');
  background-repeat: no-repeat;
  background-size: 100%
}
.map6 {
  background-image: url('../6.png');
  background-repeat: no-repeat;
  background-size: 100%
}
.map8 {
  background-image: url('../8.png');
  background-repeat: no-repeat;
  background-size: 100%
}
.compo {
  background-image: url('../compo.png');
  background-repeat: no-repeat;
  background-size: 100%
}

.ume-js{
  transform: rotate(0deg);
  text-transform: uppercase;
  margin-top: -250pt
}

#e_0{
  margin-left: 0pt;
}
