@import '../../../css/main.less';


#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
}

body {
    font-size: 24pt;
}

h1 + h1 {
margin-left: 52pt;
}


.informations {
  padding: 0pt 0pt 12pt 0pt;
}
