a,
p,
dd,
dt,
dl,
h1,
h2,
h3,
h4,
h5,
hr,
ul,
li,
article,
strong,
blockquote,
footer,
{color: black;}

a {text-decoration: none;}
sup {
  vertical-align: super;
  font-size: 0.75em;
  line-height: 0pt;
}
.keep {
  word-break: break-all;
}
.article {
  padding: 12pt 12pt;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  background-color: white;
}

.bloc {
  // margin-top: -10px;
  // padding-top: 10px;
}
.blanc {
  background-color: white;
}


/*article {
  border-left: 1px solid black;}*/

.rule--left{border-left: 1px solid black;}

.rule--right{border-right: 1px solid black;}

.push {page-break-before: always;}

// .page {
//   background-image: url(http://www.balsamine.be/images/damier.png);
//   background-size: 10px;
//   background-repeat: repeat;
// }


/*==============================================================*/
/*______________________ Texte - Global ________________________*/
/*==============================================================*/

p {
  vertical-align: baseline;
  font-family: 'Ume double stroke master condensed';
}

p, .informations, .intro {
  margin-bottom: 6pt;
}
p:last-of-type {
  margin-bottom: 0pt;
}

.subhead {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;

  margin-top: -16pt;
  padding: 18pt 0pt 12pt 0pt;
}
.subhead {
  font-family: 'Ume double stroke info pratique';
  font-size: 9pt;
  line-height: @line-height;
  margin-left: 0pt;
}
/*
---------------- début des titres

*/

h3, h4 {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;

  margin: 0;
  padding: 6pt 0pt;
}

//titres
h1 {
  font-family: 'Ume double stroke 12';
  font-size: 25pt;
  line-height: calc(~"4 x @line-height");
  text-align: center;
  letter-spacing: -0.08em;
}

// variations titres
.stroke05 {
  font-family: 'Ume double stroke 05';
}

.stroke07 {
  font-family: 'Ume double stroke 07';
}

.stroke10 {
  font-family: 'Ume double stroke 10';
  letter-spacing: -0.08em;
}

.stroke12 {
  font-family: 'Ume double stroke 12';
  letter-spacing: -0.08em;
}

// auteurs
h2 {
  font-family: 'Ume double stroke 07';
  font-size: 16.5pt;
  line-height: 1.1em;
  text-align: center;
  padding: 0pt 0pt 6pt 0pt;
}
.article h2 {
  page-break-before: always;

}
// sous-titres
h3 {
  font-family: 'Ume double stroke info pratique';
  font-size: 12pt;
  line-height: calc(~"1.5 x @line-height");

  // section des parties =
  border-top: 1px solid black;
}


h4 {
  font-family: 'Ume double stroke info pratique';
  font-size: 9pt;
  line-height: calc(~"-1.5 x @line-height");
}

//cas particuliers
.maitre{
  font-family: 'ume double stroke 10';
  letter-spacing: 0em;
}

.contemporain{
  font-family: 'ume double stroke 10';
  letter-spacing: -0.08em;
}

.orshould{
  font-family: 'ume double stroke 07';
  letter-spacing: 0em;
  padding-right: 5pt;
}

.coulisse {
  font-family: 'ume double stroke 12';
  letter-spacing: -0.08em;
}

.fortunes {
  font-family: 'ume double stroke 10';
  letter-spacing: -0.08em;
}


/*
---------------- fin des titres

*/


hr {
  visibility: hidden;
}

a{
  text-decoration: none;
  // text-decoration-color: #ff546d;
}

ul {
  list-style: none;
  font-family: 'Ume double stroke master condensed';
  padding-top: @line-height;
}

li {
  list-style: none;
}


.united {
  height: 25px;
  width: 95px;
  float: left;
  padding-right: 6px;
  padding-bottom: 14px;
  margin-top: -8px;
}

.logo {
  max-height: 22.5pt /*30px*/;
  outline: none;
  margin-top: 0;
  margin-left: calc(~"2 x @line-height");
  margin-bottom: @line-height;

  display: none;
}

// autres images
.autre {
  padding: 0;
  margin: 0;
  outline: none;
  width: auto;
}



/*==============================================================*/
/*__________________________ PARTIE 1 __________________________*/
/*___________________________ Edito ____________________________*/
/*==============================================================*/

.edito {
  padding: 12pt;
  margin-bottom: 0pt;
  box-sizing: border-box;
  border-bottom: 1.5px solid black;
  background-color: white
}

.edito h1 {
  font-family: 'Ume double stroke 12';
  font-size: 4pt;
  line-height: 35pt;
  text-align: left;
  padding-bottom: 12pt;
  padding-left: 12pt;
}
.edito .txtedito1 {
  margin-bottom: 9pt;
}

p.txtedito1 {
  font-family: 'Ume double stroke 10';
  font-size: 14pt;
  line-height: 1.15em;
  padding-left: 12pt;
      // background-image: url(http://balsamine.be//theme/imgs/damier-gradient.png);
}

.txtedito1 p + p {

}
.page {
   // background-image: url(../../images/fond-damier.png);
   background-size: 100%;
}

.edito h1 {
  font-size: 22pt;
}

.edito h2 {
  font-family: 'Ume double stroke 07';
  font-size: 20pt;
  line-height: 20pt;
  text-align: center;
  padding: 10pt 0pt 0pt 0pt;
}
.edito h2 + h2 {
  padding: 0pt 0pt 0pt 0pt;
}
.edito h2 + p {
  margin-top: 12pt;
}
.txtedito2 {
  font-family: 'Ume double stroke 10';
  font-size: 12pt;
  line-height: 15pt;
}

.plus-bas {
  padding-top: 10pt;
}

// .edito p.txtedito1 + p.txtedito1 {
//   text-indent: 24pt;
// }



/*==============================================================*/
/*__________________________ PARTIE 2 __________________________*/
/*___________________________ Saison ___________________________*/
/*==============================================================*/



.start-saison {
  page-break-before: always;
}

// Contient : Dates + End, Event-type, Time.
.informations {
  font-family: 'Ume double stroke info pratique';
  font-size: 11pt ;
  line-height: 1.25em;
  padding: 12pt 0pt;
  margin:0;
}


.intro {
  font-family: 'Ume double stroke master condensed';
  font-size: 12pt;
  line-height: 1.1em;
}

strong {
  font-weight: bolder;
  font-family: 'Ume double stroke info pratique';
}
blockquote {
  font-family: 'Ume double stroke 12';
  font-size: 13.5pt;
  line-height: 1.1em;
  margin: 20pt;
  padding: 0;
  margin-bottom: 24pt;
  text-align: center;
  padding-top: 18pt;
  transform: skewX(10deg);
}
blockquote p {
  margin-bottom: 0pt;
  font-family: 'Ume double stroke 12';
  transform: skewX(10deg);
  transform: skewY(8deg);


}

footer {
  font-family: 'Ume double stroke master expanded';
  font-size: 10pt ;
  line-height: @line-height;
  padding: 0;
}


dt {
  font-family: 'Ume double stroke master condensed';
  text-transform: uppercase;
  padding: 2.5px 8px;
  display: inline;
  vertical-align: baseline;
  border: 1px solid black;
  border-radius: 16px;
  background: white;
  line-height: 2em;
}

dd {
  font-family: 'Ume double stroke master expanded';
  font-size: 12pt;
  line-height: 1.1em;
  display: inline;
}
dd + dt {
  margin-top: 10pt;
}
.production {
  font-family: 'Ume double stroke master condensed';
  font-size: 10pt !important;
  line-height: 12pt;
  padding-top: 6pt;
  margin-left: 24pt;
}


 #flow-main div:nth-of-type(5) img {
   width: 84%;
   transform: scaleX(-1);
 }
 #flow-main div:nth-of-type(7) img {
   width: 159%;
   margin-left: -48px;

 }
 #flow-main div:nth-of-type(9) img {
   width: 143%;
   margin-top: 8pt;
 }

 #flow-main div:nth-of-type(11) img {
   width: 146%;
   transform: rotate(10deg);
 }
 #flow-main div:nth-of-type(13) img {
   width: 68%;


 }
 #flow-main div:nth-of-type(15) img {
   width: 71%;

 }
 #flow-main div:nth-of-type(17) img {
   width: 73%;
  margin-left: 62px;
  margin-top: 0pt;

 }

 #flow-main div:nth-of-type(19) img {
   width: 84%;
 margin-left: 13px;
 margin-top: 1px;

 }


.image {
  width: 110px;
  height: auto;
}

.image-large {
  width: 200px;
  height: auto;
}



/*==============================================================*/
/*__________________________ PARTIE 3 __________________________*/
/*______________________ Infos Pratiques _______________________*/
/*==============================================================*/

.start-info {
  page-break-before: always;
}

.info-pratique {
  padding: 10pt 10pt 7pt 10pt;
  margin-bottom: 10pt;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  background-color: white;
  margin: 0;
}
// .info-pratique p {
//   -webkit-hyphens: auto;
//          -moz-hyphens: auto;
//               hyphens: auto;
//               -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
// -webkit-hyphenate-limit-after:  2; /* 3 caractères minimum en début de ligne, donc en fin de mot */
// -webkit-hyphenate-limit-lines:  4; /* 4 lignes consecutives max */
// }

.info-pratique h1 {
  font-family: 'ume double stroke 12';
  font-size: 25pt;
}
.info-pratique h2{
  text-align: left;
  margin-top: 12pt;

}
.info-pratique h2:nth-of-type(2) {
  clear: both;
  margin-top:22pt;
}
.info-pratique h2:first-of-type {
  margin-top: 13px
}
h2.exceptions-info {
  padding-top: 17pt;
}

.triche-info {
  padding-top: 6pt;

}
.info-pratique h2:nth-of-type(2) {

}
// .info-pratique h2:nth-of-type(1) {padding: 12pt 0pt 0pt 0pt;}
.info-pratique h3 {
  font-family: 'Ume double stroke master condensed';
  font-size: 10pt;
  line-height: 12.5pt;
}

.texteinfo{
  font-family: 'Ume double stroke master condensed';
  font-size: 10pt !important;
  line-height: 12pt;
}

.pass{
  max-width: 181px;
  max-height: 830px;
  padding: 0pt 5pt;
}

.map {
  // max-width: 500px;
  // max-height: 453px;
  // padding: 13pt 0pt;
  // background-color: transparent;
  // background-image: url("../../images/map.svg");
  background-image: url(http://www.balsamine.be/images/map.svg);
  background-repeat: no-repeat;
  border: 0px solid black;
  background-size: 100%;
  background-position: -30px 10px;
  }


.tarif{
  font-family: 'Ume double stroke master condensed';
  font-size: 10pt !important;
  line-height: 12pt;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 100px;
  padding: 1.5px 8px;
  display: block;
  vertical-align: baseline;
  border: 0px solid black;
  background: linear-gradient(135deg, #b7b7b7 0%,#ffffff 100%);
  border-radius: 24px;
  text-align: center;
  margin: 12pt 12pt 0pt 12pt;

  // background-color: rgba(0, 0, 0, 0);
  // background-image: linear-gradient (top right, yellow, 0%, transparent 70%);
  // background-origin: padding-box;
}

.prix{
  font-family: 'Ume double stroke master expanded';
  font-size: 16pt ;
  display: block;
  margin-bottom: 0pt;
  padding-left: 121pt;
  display: block;
  margin-top: 7pt;
}

.groupes {
  font-family: 'Ume double stroke master condensed';
  font-size: 8pt;
  line-height: 12.5pt;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 150px;
  padding: 1.5px 8px;
  display: block;
  vertical-align: baseline;
  border-bottom: 0px solid black;
  background: linear-gradient(135deg, #ffffff 0%, #b7b7b7  100%);
  border-radius: 24px;
  text-align: center;
  margin: 12pt 12pt 0pt 12pt;
}

.footnote {
  font-family: 'Ume double stroke master expanded';
  font-size: 10pt;
  line-height: 12pt;
  display: inline;
}

.center {
  font-family: 'Ume double stroke master expanded';
  font-size: 10pt;
  line-height: 12pt;
  display: block;
  text-align: center;
}
.edito dt{
  font-size: 10pt !important;
}
.edito dd{
  display: block;
}
.edito dl {
  margin-bottom: 12pt;
}
.info-pratique dl:nth-of-type(1), .info-pratique dl:nth-of-type(2)  {
  float:  left;
}
.info-pratique dl:nth-of-type(2) + .prix {
  margin-top: 20pt;

}
.info-pratique dl:nth-of-type(2)  {
  float:  left;
  margin-top: 6pt;
}
.info-pratique dt {
  font-family: 'Ume double stroke master condensed';
  font-size: 9pt;
  text-transform: uppercase;
  padding: 1.5px 8px;
  // display: block;
  vertical-align: baseline;
  border: 0px solid black;
  background: linear-gradient(135deg, #b7b7b7 0%,#ffffff 100%);
  border-radius: 16px;
  margin-top: 11pt ;
}

.info-pratique dd {
  display: block;
  margin-bottom: 0pt;
}

// .info-pratique dd + dd {margin-bottom: 0pt !important}

.role{
  font-family: 'Ume double stroke master condensed';
  font-size: 9pt;
  line-height: 12pt;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 150px;
  padding: 1.5px 8px;
  display: block;
  vertical-align: baseline;
  border: 0px solid ;
  border-radius: 24px;
  background: linear-gradient(135deg, #b7b7b7 0%,#ffffff 100%);
  text-align: center;
  margin: 0pt 12pt;
}

.acteur {
  font-family: 'Ume double stroke master expanded';
  font-size: