@import "../style.less";


#stories article {
    -webkit-flow-into: main;
    flow-into: main;
}
.main {
    -webkit-flow-from: main;
    flow-from: main;
}

#stories article p img.objets {
    -webkit-flow-into: sidebar;
    flow-into: sidebar;
}
.sidebar {
    -webkit-flow-from: sidebar;
    flow-from: sidebar;
}



* {
    font-size: 9.5pt;
    line-height: 11.5pt;
    font-family: 'Ume-wide';
    color: blue;
}
.header{
  float: left;
  position: absolute;
}

.sidebar {
   color: red !important;
   position:absolute;
   float:left;
   width: 20%;
   height: @page-height;
   border: 1px solid blue;
  //  padding-top: 6px;

   }


.paper:nth-of-type(2) .main {
  width: calc(~"100% - 16px");
  padding-left: 0%;
}

.main {
   position:relative;
   float:left;
   width: calc(~"80% - 16px");
   border: 0px solid black;
  //  padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 26%;
   padding-right: 0pt;
   padding-top: @line-height;
   }
.header::after{
  background-image: url(/assets/logo/logos-balsa-17-18.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    margin-left: 136pt;
    height: 40px;
    margin-top:6pt;
}
.paper:nth-of-type(2) .header::after {
display: none;

}
blockquote, ul {
  padding: 0px;
  margin: 0px;
}
blockquote ul li,  {
  font-size: 7.5pt;
}
blockquote ul li::before,  {
  content: '- '
}

ul li {
  list-style-type: none;
}
img {
  width: 100%;
}
h2 {
  page-break-before: always;
}
h1{
  margin: 0pt;
  padding: 0pt;
}
img.uvmap{
  width: 100%;
}
img.scene{
  width: 100%;
}
