/* ==========================================================================
   Custom medias definitions
   ========================================================================== */





/* ==========================================================================
   Variables
   ========================================================================== */





/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Ume P Gothic Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-p-gothic_balsa-webfont.woff2') format('woff2'), url('../fonts/ume-p-gothic_balsa-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke double fat Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-fat-fat.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke double thin Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-thin-thin.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke info pratique';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-condensed-int-180-ext-180.ttf') format('woff');
}

@font-face {
    font-family: 'Ume double stroke master expanded';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-expended-int-100-ext-100.ttf') format('woff');
}

@font-face {
    font-family: 'Ume double stroke master condensed';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-condensed-int-100-ext-100.ttf') format('woff');
}

@font-face {
    font-family: 'Ume double stroke master expended fat';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-expended-fat.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke affiche saison';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-affiche-saison.woff') format('woff');
}

.cadra {
    float: left;

    width: auto;
}

.cadra svg {
    overflow: visible;

    width: auto;
    height: 100%;
    margin-bottom: 100px;
}





/* ==========================================================================
   Reset
   ========================================================================== */

html {
    font-size: 16px;
    line-height: 1.3em;
}

body {
    overflow: hidden;

    /*  FIXME: Move away from the reset section */
    background-image: url('/theme/imgs/coin-de-boite-bas-gauche.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;

    font-family: 'Ume double stroke master condensed';
    font-size: 1em;
    line-height: 1.3em;
}

a {
    text-decoration: underline;

    color: inherit;
    /*  FIXME: should the links be all pink? If not, ake it more specific */
    -webkit-text-decoration-color: #ff546d;
            text-decoration-color: #ff546d;
}

a:hover { color: #ff546d; }

em { font-family: 'Ume double stroke info pratique'; }

strong { font-family: 'Ume double stroke info pratique'; }

dt,
dd { display: inline; }

hr {
    height: 1.375em;

    border: 0;
}

hr + hr { border-top: 2px solid black; }





/* ==========================================================================
   General structure
   ========================================================================== */

/* Main Header
   ========================================================================== */

.main-header {
    position: fixed;
    top: 100vh;
    left: 0;

    box-sizing: border-box;
    width: 100vh;
    height: 42px;
    padding-left: 42px;

    -webkit-transform: rotate(-90deg);

            transform: rotate(-90deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    text-align: right;

    font-size: 14px;
    line-height: 42px;
    direction: rtl;
}

.logo {
    max-height: 34px;
    padding-left: 10px;

    vertical-align: middle;
}

/* main menu */

.main-nav,
.main-menu,
.main-menu li { display: inline; }

div.secondary { display: none; }

.main-menu li + li:before { content: '\00B7\00A0'; }

.main-menu a {
    padding: 0.25em 0.5em;

    text-decoration: none;
}

.main-menu a:hover {
    position: relative;
    z-index: 1000;

    border-radius: 1em;
    background-color: white;
    box-shadow: 0px 0px 2px 0px black;
}





/* Main Footer
   ========================================================================== */

.main-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    height: 42px;
    text-align: right;
    line-height: 42px;
    display: inline;
}

.address {
    display: inline;
    box-sizing: border-box;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    font-size: 14px;
    //line-height: 1;
    float: right;
}

@media only screen and (max-width: 767px) {
    .newsletter { display: none; }

    .address > span { display: inline-block; }

    .address span.street + .address span.locale {
        float: left;

        margin-left: 10%;
    }

    .address span.street { display: none; }

    .address span.street + span:before {
        display: inline;

        content: "Av. Félix Marchal, 1";
    }

    .address span.street::after { content: " / "; }

    .address span.person { display: none; }

    span.tel { display: none; }

    span.tel-detail { display: none; }

    span.administration:before { content: "T. "; }
}

@media only screen and (min-width: 768px) {
    .address > span { display: inline; }

    .address > span + span:before { content: " — "; }

    .address > span span + span::before { content: '\00B7\00A0'; }

    .newsletter { display: none; }
}

.subscribe { display: inline-block; }

.subscribe__email,
.subscribe__email-desktop {
    width: 15em;
    padding: 4px;

    color: inherit;
    border: 2px solid #3b4086;
    border-radius: 5px;

    font-family: inherit;
}

.subscribe__email:focus,
.subscribe__email-desktop:focus {
    color: white;
    outline: none;
    background-color: #3b4086;
}

.subscribe__ok,
.subscribe__ok-desktop {
    padding: 4px;

    color: inherit;
    border: 2px solid #3b4086;
    border-radius: 5px;
    background-color: transparent;

    font-family: inherit;
}

.subscribe__ok:focus,
.subscribe__ok-desktop:focus {
    color: white;
    outline: none;
    background-color: #3b4086;
}

.secondary-nav { display: none; }

@media only screen and (max-width: 767px) and (orientation: landscape) {
    /* FIXME: remove that rule and fix the layout */
    .subscribe { display: none; }
}

a.enveloppe{
  display: inline;
  float: right;
  padding-right: 5px;
  padding-left: 5px;
}
img.envlp{
  width:20px;
}

form#subscribe{
  display: inline;
  float: right;
  display: none;
  padding-right: 5px;
  padding-left: 5px;
}

form#subscribe input[type=text] {
  border-radius: 0px;
  height: 20px;
  border: 1px solid black;
  padding: 3px;
}

form#subscribe input[type=submit] {
  border-radius: 1em;
  padding: 5px;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ff546d;
}

form#subscribe input[type=submit]:hover{
  background-color: white;
  outline: 3px solid #ff546d;
  cursor: pointer;
}


p.newsletter-signup{
  position: fixed;
  background: blue;
  display: inline;
  box-sizing: border-box;
  padding-right: 5px;
  float: left;
  padding-right: 5px;
  padding-left: 5px;
}




/* Main area
   ========================================================================== */

/**
 * The main area of the page is everything but the main header and footer. In
 * other words, this is everything inside the "box".
 */

.main-area {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 42px;
    left: 42px;

    border-bottom: 2px solid #3b4086;
    border-left: 2px solid #3b4086;
    background-size: 15px;
}

@media only screen and (max-width: 767px) {
    .main-area {
        overflow-y: hidden;

        font-size: .75em;
        line-height: 1.375em;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    body {
        background-image: url('/theme/imgs/coin-de-boite-haut-gauche.svg');
        background-position: top left;
    }

    .main-area { border-top: 2px solid #3b4086; }

    .main-header {
        top: 0;
        left: 0;

        width: 100vw;

        -webkit-transform: rotate(0deg);

                transform: rotate(0deg);
    }

    .main-footer {
        position: fixed;
        top: 100vh;
        left: 0;

        width: 100vh;

        -webkit-transform: rotate(-90deg);

                transform: rotate(-90deg);
        -webkit-transform-origin: top left;
                transform-origin: top left;
    }

    .address {
        width: 100vh;
        padding-left: 5px;

        text-align: left;
        vertical-align: middle;
    }

    .main-area {
        top: 42px;
        bottom: 0;
    }
}





/* Main content
   ========================================================================== */

.main-content {
    background:
      url('/theme/imgs/damier-gradient.png')
      0px 60px
      no-repeat
      repeat;

}

@media only screen and (max-width: 767px) {
    .main-content {
        position: absolute;
        top: 0;
        right: 30px;
        left: 0;

        overflow: auto;

        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .main-content {
        position: absolute;
        top: 0;
        left: 0;

        overflow-y: scroll;

        box-sizing: border-box;
        width: calc(100% - 500px);
        height: 100%;

        background-color: white;
    }
}





/* ==========================================================================
   Schedule
   ========================================================================== */

/**
 * The schedule module is made out has two parts:
 *
 * 1. the list of events;
 * 2. a timeline widget onto which is plotted the dates of the events.
 *
 * Below is the toplevel structure of the module
 *
 *      <section class="schedule">
 *          <div class="schedule__list">...</div>
 *          <div class="schedule__timeline timeline"></div>
 *      </section>
 */

.schedule {
    position: relative;

    overflow: hidden;

    background-color: white;
}

.schedule__head {
    box-sizing: border-box;
    height: 42px;
    padding-top: 9px;
    padding-left: 1.2em;

    background-image: url("/images/damier.png");
    background-size: 10px;

    font-family: 'Ume double stroke double fat Balsa';
    font-size: 1.5em;
}

@media only screen and (max-width: 767px) {
    .schedule__head {
        position: absolute;
        right: 0;

        width: 30px;
        padding-top: 6px;
        padding-left: 0;

        text-align: center;
    }

    .schedule__head:before {
        float: left;

        margin-left: -25px;

        content: "\2190";
    }

    .schedule__head:after { content: "17\00000A18"; }

    .schedule__head h1 { display: none; }

    .is-swiped .schedule__head {
        width: calc(100% - 44px);

        transition: width 0.5s ease;
    }

    .is-swiped .schedule__head::after { content: "\2192"; }

    .is-swiped .schedule__head::before { content: none; }

    .is-swiped .schedule__head h1 { display: block; }
}

.schedule sup,
.schedule sub {
    margin-left: 1px;

    font-size: 0.75em;
    line-height: 0;
}

.schedule sup { vertical-align: 0.3em; }

.schedule sub { vertical-align: -0.3em; }

.schedule__item {
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 2em;

    color: black;

    line-height: 1.3;
}

.schedule__item:target {
    /* FIXME: !important should not be used */
    background-size: 100% 100%, 10px !important;
}

.schedule__dates {
    display: inline;
    float: right;

    margin-top: 12pt;
    padding: 2px 8px;
    //border-right: 2px solid black;
    //border-left: 2px solid black;

    font-size: 1em
}

@media only screen and (max-width: 767px){

    .schedule__dates {
      padding: 2px 26px;
    }
    }

.schedule__title {
    font-family: 'Ume double stroke info pratique';
    font-size: 1.5em;
    line-height: 1.1em;
}

.schedule__title a {
    margin-left: -0.5em;
    padding: 0.25em 0.5em;

    text-decoration: none;
}

.schedule__authors {
    font-family: 'Ume double stroke master expended fat';
    line-height: 1em;
}

.schedule__intro {
    padding-left: 2em;

    font-family: 'Ume double stroke master expended fat';
    font-size: 1.5em;
}

.schedule__main-image {
    width: 50%;

    text-align: right;
}

.schedule__main-image img {
    max-width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
}

.schedule__booking {
    padding: 0.2em 1em 0.4em 1em;
    text-decoration: none;
    border-radius: 16px;
    box-shadow: 0px 0px 4px 0px black;
    text-transform: uppercase;
    font-size: 60%;
    letter-spacing: 0.8pt;
}

.schedule__booking:hover { background-color: white; }

/*  FIXME: move to the pages itself */

#lecole-des-maitres-2017  .schedule__main-image {
    width: 90%;
    max-width: 200%;
}

#lecole-des-maitres-2017  .schedule__main-image img {
    max-width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0px;
}

#lecole-des-maitres-2017 .schedule__subhead { margin-top: 56px; }

#les-oracles .schedule__main-image img { padding-left: 81px; }

#up-pen-down .schedule__main-image {
    width: 53%;
    margin-top: 5pt;
    margin-left: 27pt;
}

#la-lettre-volee .schedule__main-image {
    width: 75%;
    margin-top: 33pt;
    margin-bottom: 19pt;
    margin-left: -6pt;
}

#should-i-stay-or-should-i-stay .schedule__main-image { width: 100%; }

#les-lundis-en-coulisse .schedule__main-image {
    width: 33%;
    margin-left: 61pt;
    padding-top: 8pt;
}

#les-fortunes-de-la-viande .schedule__main-image {
    width: 117%;
    max-width: 150%;
    margin-left: -26pt;
}

#scripta-manent .schedule__main-image {
    width: 40%;
    margin-left: 53pt;
}

#i-clit .schedule__main-image { width: 85%; }

#etna .schedule__main-image {
    width: 60%;
    margin-left: 60pt;
}

#les-loups .schedule__main-image {
    width: 69%;
    margin-left: -26pt;
}

#trilogie-de-rome .schedule__main-image { width: 100%; }

#noel-au-theatre { padding-bottom: 17%; }

#kunstenfestivaldesarts { padding-bottom: 17%; }

/* <<<<<<<<< */

.schedule__timeline {
    top: 42px;
    right: 0;

    width: 30px;
    height: 100%;
    margin-left: calc(100% - 30px);

    background: linear-gradient(to bottom, black 0%, grey 100%);
}

@media only screen and (max-width: 767px) {
    .schedule {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;

        transition: all 0.5s ease;
    }

    .schedule__head { position: fixed; }

    .is-swiped .schedule { width: 100%; }

    .schedule__list {
        position: absolute;
        top: 42px;
        right: 30px;
        left: 100%;

        overflow-x: hidden;
        overflow-y: scroll;

        width: 100%;
        height: calc(100% - 42px);

        transition: all 0.5s ease;
    }

    .is-swiped .schedule__list { left: 0%; }

    .schedule__timeline {
        position: fixed;
        top: 42px;
        right: 0;

        width: 30px;
        height: calc(100% - 87px);
    }
}

@media only screen and (min-width: 768px) {
    .schedule {
        position: absolute;
        top: 0;
        right: 0;

        overflow: hidden;

        box-sizing: border-box;
        width: 500px;
        height: 100%;
    }

    .schedule__list {
        position: absolute;
        top: 42px;
        right: 60px;
        left: 0;

        overflow-y: scroll;

        height: calc(100% - 42px);
    }

    .schedule__timeline {
        position: absolute;
        top: 42px;
        right: 0;

        width: 60px;
        height: calc(100% - 42px);
    }
}

/* timeline */

.timeline__year {
    position: absolute;
    top: 0px;
    right: 30px;

    height: 30px;
    padding-right: .5em;

    -webkit-transform: rotate(-90deg);

            transform: rotate(-90deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    text-align: right;

    font-size: 10px;
    line-height: 30px;
}

.timeline__month {
    position: absolute;
    top: 30px;
    right: 30px;

    box-sizing: border-box;
    height: 30px;
    padding-top: 10px;
    padding-right: .5em;

    -webkit-transform: rotate(-90deg);

            transform: rotate(-90deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    text-align: right;

    color: white;
    border-right: 1px solid;

    font-family: 'Ume double stroke master expended fat';
    font-size: 14px;
    line-height: 23px;
}

.timeline__point {
    position: absolute;
    right: 15px;
    display: block;
    width: 10px;
    min-height: 10px;
    border-radius: 5px;
    background-color: white;
    background-size: 10px;
    box-shadow: 0 0 2px 0px black;
}

.timeline__point__last{
  background-color: transparent;
  outline: 1px solid white;
}

.timeline__point:hover {}

@media only screen and (min-width: 768px) {
    .timeline__month {
        right: 60px;

        height: 80px;
        padding-top: 38px;
    }
    .timeline__point { right: 35px; }

    /*.timeline__point { right: 55px; }

    .timeline__point:nth-child(2n+0) { right: 45px; }

    .timeline__point:nth-child(3n+0) { right: 35px; }

    .timeline__point:nth-child(4n+0) { right: 25px; }*/


}





/* ==========================================================================
   Show detail
   ========================================================================== */

.show-detail__header {
    box-sizing: border-box;
    padding: 1em;

    color: black;
    background-image: url('/theme/imgs/damier.png');
    background-size: 25px;
}

/*  FIXME: decide what to do with `.content` */
/*  FIXME: re-order rules */

.content .show-detail__header h1 { margin-bottom: 0em; }

.content .show-detail__header h2 {
    margin-top: 0.1em;
    margin-bottom: 0em;

    font-size: 2.5em;
    line-height: 1.25em;
}

.content .show-detail__header time {
    display: block;

    margin-left: 0em;
    padding-left: 2.5em;

    letter-spacing: 0.03em;

    font-family: 'Ume double stroke info pratique';
    font-size: 1.3em;
    line-height: 1.25em;
}

.content p.detail-prix {
    font-family: 'Ume double stroke master condensed';
    font-size: 12pt;
    line-height: 1.1em;
}

.content p.show-detail__subhead {
    margin-top: 12pt;

    letter-spacing: 0.04em;

    font-family: 'Ume double stroke info pratique';
    font-size: 10.5pt;
    line-height: 1.3em;
}

.show-detail__header .partner_logos {
    float: left;

    margin-top: 1em;
    margin-bottom: 1em;
}

.show-detail__header .partner_logo {
    height: 35px;
    margin-right: 10px;
}

.show-detail__image img {
    max-width: 100%;

    text-align: center;
}

.show-detail__body-images {
    float: left;

    box-sizing: border-box;
    margin-bottom: -8px;
    padding: 2em;

    background-color: white;
}

.show-detail__body-images p {
    float: left;

    margin-right: 1em;

    text-indent: 0 !important;
}

.show-detail__body-images .video-wrapper { position: relative; }

.show-detail__body-images img,
.show-detail__body-images iframe {
    max-width: 100px;
    max-height: 70px;
    /* outline: 1px solid var(--pink-color); */
}

.show-detail__body-images img:hover {
    cursor: pointer;

    background-image: url("/images/damier.png");
    background-size: 10px;
}

.thumb-overlay {
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.show-detail__body {
    box-sizing: border-box;
    padding: 8px 12px;
    padding-bottom: 2em;

    color: black;
    background-color: white;
}

/*FIXME: See if we can find a more appropriate class name `.photo` */
.show-detail__body .photo {
    display: none;
    float: left;
    overflow: hidden;

    height: auto;
    margin-right: 1.375em;
    margin-bottom: 1.375em;

    cursor: n-resize;

    background-image: url("/images/damier.png") !important;
    background-size: 10px;
}

.show-detail__body .photo img {
    width: 100%;
    max-width: 100%;

    outline: none !important;
}

.show-detail__body .photo iframe {
    width: 600px;
    height: 400px;
}

.show-detail__body blockquote + p,
.show-detail__body p + blockquote { margin-top: 1em; }

.show-detail__body blockquote { padding-left: 2em; }

.show-detail__body blockquote p {
    /* FIXME: !important should not be used */
    font-size: 1.3em !important;
    line-height: 1.25em;
}

.show-detail__body blockquote footer {
    font-family: 'Ume double stroke master expended fat';
    /* FIXME: !important should not be used */
    font-size: 1.3em !important;
}

.show-detail__body blockquote footer:before { content: "– "; }

.show-detail__body dl {
    margin-top: 1.3em;
    margin-bottom: 0.3em;
}

.show-detail__body h3 + dl { margin-top: .8em; }

.show-detail__body .production {
    text-indent: 0pt;

    font-family: 'Ume double stroke master expanded';
}

.show-detail__body .production + .production {
    margin-top: 0em;

    text-indent: 3em;
}

@media only screen and (max-width: 767px) {
    .show-detail__header { border-bottom: 2px solid; }

    .show-detail__body-images { width: 100%; }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
    .show-detail__header { border-bottom: 2px solid; }

    .show-detail__body-images { width: 100%; }

    .photo { width: 50%; }
}

@media only screen and (min-width: 1300px) {
    .show-detail__header {
        float: left;

        width: 40%;
        height: 100vh;
        padding: 2rem;
    }

    .show-detail__body-images { width: 60%; }

    .show-detail__body {
        float: left;

        width: 60%;
        padding: 8px 35px;
    }

    .photo { width: auto; }
}





/* ==========================================================================
   General pages
   ========================================================================== */

.page-detail {
    padding: 1em;

    color: black;
}

.page-detail__header,
.page-detail__body { box-sizing: border-box; }

.page-detail dl { margin-top: 1em; }

.page-detail dt { font-family: 'Ume double stroke affiche saison'; }

.page-detail dd { -webkit-column-break-before: avoid-column; break-before: avoid-column; }

.page-detail dt + dd { margin-right: 10px; }

.page-detail dd { -webkit-column-break-inside: avoid; break-inside: avoid-column; }

.page-detail__header h2 { margin-bottom: 0 !important; }

.page-detail__header h3 {
    margin-top: 0.5em !important;

    font-family: "Ume double stroke master condensed" !important;
    font-size: 1.5em;
}

.page-detail h2#un-theatre-a-letat-pur,
.page-detail h2#a-theatre-in-its-pure-state {
    margin-top: 0em;
    margin-bottom: 0em;
}

h3#un-projet-ethique-pour-les-5-saisons-a-venir { margin-top: 2em; }

.page-detail h2#acces + .section3 dl dd { display: block; }

.page-detail h2#acces + p { margin-bottom: 12pt; }

.page-detail h2#tarifs + dl,
.page-detail h2#rates + dl {
    -webkit-column-width: 20em;
            column-width: 20em;
    -webkit-column-gap: 2em;
            column-gap: 2em;
}

.page-detail h2#tarifs + dl dd,
.page-detail h2#rates + dl dd {
    display: block;

    padding-left: 12px;
}

.page-detail h2#tarifs + dl dd + dt,
.page-detail h2#rates + dl dd + dt { margin-top: 10px; }

.page-detail .no-display { display: none; }

.page-detail .sous-tarif {
    text-decoration: underline;

    border: 0px solid black;
}

.show-detail__body p.production,
.page-detail .footnote,
.page-detail dd.footnote {
    margin-top: 12pt;

    text-indent: 0pt;

    font-family: "Ume double stroke master condensed";
    font-size: .9em;
    line-height: 1.2em;
    -webkit-column-width: 20em;
            column-width: 20em;
}

.show-detail__body p.production { -webkit-column-count: 1; column-count: 1; }

.page-detail dd.footnote { margin-top: 0; }

.page-detail .footnote ol li + li {
    margin-bottom: 1em;

    text-indent: 2em;
}

.page-detail .footnote ol li::before { content: " "; }

.page-detail .footnote ol { -webkit-column-width: 20em; column-width: 20em; }

.page-detail .no-display { display: none; }

.page-detail img {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-detail img[alt="logo label united stages"],
.page-detail img[alt="logo accessibilite"] {
    margin: 0pt;
    padding-right: 4pt;
}

.page-detail img.map {
    float: right;

    width: 70%;
}

.page-detail p + p img { margin-left: -1.5em; }

.page-detail p,
.page-detail ul {
    font-size: 25px;
    line-height: 30px;
}

@media only screen and (max-width: 767px) {
    .section2 h2 ~ * { display: none; }

    .section2 h2:target ~ * { display: block; }
}

@media only screen and (max-width: 767px) {
    .page-detail__header { border-bottom: 2px solid; }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
    .page-detail__header {
        width: 100%;
        padding: 2rem;
        padding-bottom: 0;
    }

    .page-detail__body {
        width: 100%;
        padding: 2rem;
        padding-top: 0;
    }
}

@media only screen and (min-width: 1300px) {
    /* FIXME: does not really work */
    .page-detail__header {
        position: fixed;

        width: 35%;
        min-height: 100vh;
        padding: 2rem;
    }

    .page-detail__body {
        /* float: left; */

        width: 55%;
        margin-left: 45%;
        padding: 2rem;
    }
}





/* ==========================================================================
   ???
   ========================================================================== */

/*  FIXME: decide what to do with `.content` */
/*  FIXME: Move `.show-detail` classes to the appropriate place */

.content h1 {
    margin-top: 0em;
    margin-bottom: 0.40740741em;

    font-family: 'Ume double stroke info pratique';
    font-size: 3.375em;
    line-height: 1em;
}

.content h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    /*line-height: 1.83333334em;*/
    letter-spacing: 0.03em;

    font-family: 'Ume double stroke info pratique';
    font-size: 1.5em;
}

.content.page-detail h3 {
    margin-top: 1em;
    margin-bottom: 0em;

    font-family: 'Ume double stroke info pratique';
    font-size: 1em;
}

.content h4 {
    margin-top: 1.375em;
    margin-bottom: 0em;

    font-size: 1em;
    line-height: 1.375em;
}

.content h5 {
    margin-top: 1.375em;
    margin-bottom: 0em;

    font-size: 1em;
    line-height: 1.375em;
}

.content a { border-radius: 1em; }

.content a:hover,
.schedule__title a:hover { color: #ff546d; }

.show-detail__body p {
    font-size: 1.9em;
    line-height: 1.1em;
}

.show-detail__body p.production {
    font-size: .9em;
    line-height: 1.2em;
}

.content p,
.content ul,
.content ol,
.content pre,
.content table,
.content blockquote {
    margin-top: 0em;
    margin-bottom: 0em;
}

.content p + p { text-indent: 1.5em; }

.content ul ul,
.content ol ol,
.content ul ol,
.content ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

/* Let's make sure all's aligned */

.content a,
.content b,
.content i,
.content strong,
.content em,
.content small,
.content code { line-height: 0; }

.content sub,
.content sup {
    margin-left: 1px;

    font-size: 0.75em;
    line-height: 0;
}

.content sup { vertical-align: 0.45em; }

.content sub { vertical-align: -0.45em; }

.content dt {
    padding: 2px 8px;
    /*padding-top: 0;*/
    border: 1px solid black;
    border-radius: 16px;
    font-size: 0.65em;
    text-transform: uppercase;
    letter-spacing: .6pt;
}

.content dd {
    padding-left: 0em;

    font-family: 'Ume double stroke master expended fat';
}

.content dd + dd:before { content: " | "; }

.content li:before { content: "- "; }

.content pre {
    margin-top: 1em;
    padding: 1em;

    color: black;
    border: 1px solid black;
}

.content time {
    display: block;

    margin-left: 0em;
}

/* <<<<<<<<< */
/* <<<<<<<<< */





/* ==========================================================================
   Misc styles
   ========================================================================== */

/* Reservation link
   ========================================================================== */

/*  FIXME: Merge with `.schedule__booking` and use `--` modifier */
.reservation-link {
    display: inline-block;
    float: right;

    margin: 0.2em 1;
    margin-top: 1em;
    margin-bottom: 21pt;
    /* FIXME: !important should not be used */
    padding: 0.8em !important;

    text-decoration: none;
    letter-spacing: 0.04em;

    font-size: 12pt;
}

a.reservation-link:hover {
    /* FIXME: !important should not be used */
    background-color: white !important;
}






/* ==========================================================================
   Slideshow
   ========================================================================== */

/*  FIXME: rename .jcarousel to something more elegant */
.jcarousel {
    position: relative;

    overflow: hidden;

    width: 100%;
}

.jcarousel__inner {
    position: relative;

    width: 10000%;
}

.jcarousel__item {
    float: left;

    width: 1%;
}

.jcarousel__item img { width: 100%; }

.jcarousel__item figcaption {
}

.jcarousel__controls {
    position: absolute;
    top: 50%;

    width: 100%;

    background-color: yellow;
}

.jcarousel__control-prev,
.jcarousel__control-next {
    position: absolute !important;
    top: -15px;

    display: block;

    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding-top: 15px;

    text-align: center;
    text-decoration: none;

    opacity: 0.75;
    color: black;
    background-color: white;
}

.jcarousel__control-prev:hover,
.jcarousel__control-next:hover {
    opacity: 1;
    background-color: white;
    box-shadow: 3px 2px 6px 1px black;
}

.jcarousel__control-prev { left: 10px; }

.jcarousel__control-next { right: 10px; }

.jcarousel__control-prev.inactive,
.jcarousel__control-next.inactive {
    cursor: default;

    opacity: .5;
}

.nojcarousel-item {
    opacity: 0.5;
    border-bottom: 1px dotted red;
}

.nojcarousel-item.active { opacity: 1; }

/* FIXME: !important should not be used */
.jcarousel__inner a { border: none !important; }

/* <<<<<<<<< */





/* Scrollbar Balsa theme

========================================================================== */
.ps__scrollbar-y-rail:before,
.ps__scrollbar-y-rail:after {
    position: absolute;
    z-index: 10000;

    padding-left: 7px;

    color: #ff546d;
    /*mix-blend-mode: exclusion;*/
    font-family: 'Ume double stroke double fat Balsa';
    font-size: 13px;
    font-weight: bold;
}

.ps__scrollbar-y-rail:before {
    top: 0;

    content: ">";
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.ps__scrollbar-y-rail:after {
    bottom: 0;

    content: ">";
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.ps__scrollbar-y {
    width: 5px !important;
    right: 0px !important;
    background-image: url("/images/damier.png") !important;
    background-size: 10px;
    background-color: white !important;
    opacity: 0.9 !important;
}

.ps__scrollbar-y:hover {
  background-color: white !important;

}


.ps__scrollbar-y-rail {
  width: 6px !important;
}

.ps--theme_balsa:hover > .ps__scrollbar-y-rail:hover { background-color: rgb(255, 255, 255); }

.ps--theme_balsa:hover > .ps__scrollbar-y-rail > .ps__scrollbar-y { background-color: #3b1b07; }

.ps--theme_balsa:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y { background-color: #3b1b07; }





/* ==========================================================================
   TRANSLATION BUTTON
   ========================================================================== */

.translations {
    margin-top: 1em;
    margin-bottom: 2em;
}

.translations a {
    padding: 0.5em;
    padding-top: 0.4em;

    text-decoration: none;
    text-transform: uppercase;

    border: 1px solid black;

    font-family: 'Ume double stroke double fat Balsa';
}

.translations a:hover { box-shadow: 3px 2px 6px 1px black; }





/* ==========================================================================
   TABLE OF CONTENTS
   ========================================================================== */

.toc ul {
    font-size: 1em;
    line-height: 1.3em;
}

.toc ul ul { display: none; }

#page-home .toclink { text-decoration: none; }

.no-touch .toclink { text-decoration: none; }

@media only screen and (max-width: 767px) {
    .toc {
        margin-bottom: 1.3em;
        -webkit-column-count: 2;
                column-count: 2;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
    .toc { -webkit-column-count: 2; column-count: 2; }
}

@media only screen and (min-width: 1300px) {
    .toc { margin-left: 3em; }
}





/* ==========================================================================
   HOME
   ========================================================================== */

#page-home .content h1 { display: none; }

#page-home .page-detail > div {
    box-sizing: border-box;
    padding: 0 1em;
    padding-bottom: 1em;
}

#page-home .content div img { margin-left: 0; }

#page-home .content p {
    margin-bottom: 1.3em;

    text-indent: 0;
}

@media only screen and (min-width: 1300px) {
    #page-home .page-detail > div {
        float: left;

        width: 50%;
    }
}
/*# sourceMappingURL=balsa.css.map */